{% load static %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
        <div class="navbar-header">
            <a class="navbar-brand"> 
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px"> 
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown" style="margin-top:8px">
                        <a class='btn btn-default dropdown-toggle' id='dropdownMenu' >{{ user.username }}
                        </a>
                        <ul class="dropdown-menu">
                        </ul> 
                    </div>
                </li>
                <li><a href="{% url 'request_commit_code:user_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'request_commit_code:user_login' %}">LOGIN</a></li> 
                {% endif %}
            </ul> 
        </div>
    </nav>
</div>

<script src="{% static 'js/jquery.js' %}"></script> 
<script src="{% static 'js/bootstrap.js' %}"></script>